@media screen and (min-width: 768px){
    .container{
        display: block;
        width: 640px;
        background-color: black;
    }
    
}

@media screen and (max-width: 768px){
    .container {
        display: flex;
        height: 20px;
        width: 94%;
        justify-content: center;
        background-color: blue;
    }
}
